.container {
  display: flex;

  background-color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 5px;
}
.logo-img {
  width: 100px;
  height: 40px;
}
.right-align {
  margin-left: auto;
}
.btn {
  background-color: #553cdf;
  color: #fff;
  /* font-size: 200;
  box-sizing: border-box;
  border: 2px;
  box-shadow: 0 0 5px grey; */
  padding: 18px 25px;
  border-radius: 6px;
}
