.left-side {
  width: 25%;
  background-color: #004aad;
}
.right-side {
  width: 75%;
  background-color: #f4f6ff;
  padding-left: 10px;
}
.classic-template {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
  background-color: #f4f4f4; /* Optional: add background color */
  box-sizing: border-box;
}
.heading {
  font-size: 20px;
  background-color: #064597;
  color: "white";
  padding: 5px;
}
